.vs/Tacnet.slnx/v18/.suo
.vs/Tacnet.slnx/v18/.futdcache.v2
.vs/Tacnet.slnx/FileContentIndex/72edaa68-0c23-4ffd-bf0b-1ad4bebf4ec4.vsidx
.vs/Tacnet.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Tacnet.slnx/config/applicationhost.config
.vs/Server.slnx/v18/.suo
.vs/Server.slnx/v18/.futdcache.v2
.vs/Server.slnx/FileContentIndex/83ac68ba-5e21-46cf-9f4c-7d14a0479ff0.vsidx
.vs/Server.slnx/config/applicationhost.config
.vs/ProjectEvaluation/tacnet.strings.v10.bin
.vs/ProjectEvaluation/tacnet.projects.v10.bin
.vs/ProjectEvaluation/tacnet.metadata.v10.bin
.vs/ProjectEvaluation/server.strings.v10.bin
.vs/ProjectEvaluation/server.projects.v10.bin
.vs/ProjectEvaluation/server.metadata.v10.bin
appsettings.json
